{
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}

