@layer base {
  :root {
    --color-red-700: 239 77 77;
    --color-red-600: 255 109 109;
    --color-red-500: 255 134 134;
    --color-red-400: 255 158 158;
    --color-red-200: 255 219 219;
    --color-red-100: 255 237 237;

    --color-neutral-900: 84 30 15;
    --color-neutral-800: 57 29 22;
    --color-neutral-700: 37 32 32;
    --color-neutral-600: 51 47 47;
    --color-neutral-500: 108 98 98;
    --color-neutral-400: 150 143 143;
    --color-neutral-300: 187 182 182;
    --color-neutral-200: 210 206 206;
    --color-neutral-100: 238 238 238;
    --color-neutral-50: 250 250 250;

    --color-green-700: 78 124 81;
    --color-green-600: 98 149 101;
    --color-green-500: 117 177 121;
    --color-green-400: 147 202 151;
    --color-green-300: 179 222 181;
    --color-green-200: 213 236 214;
    --color-green-100: 241 250 241;

    --color-neutral: 37 32 32;
    --color-primary: 255 109 109;
    --color-secondary: 117 177 121;
  }
}
